/* Author: Samantha Cox
   File: style-home.css
   Description: This is the .css file for help.html. This contains all the
   styling for the various attributes, classes, and ids on the he,p.html
   page. Contains a variety of fonts, borders, and other styling
   components that make the page more exciting than basic HTML. Specifically,
   this just provides style to the client-side of the application by
   adding some color, font, and centering all of the text on the help page
   provided to the user. */

/* No padding and margin for the body of the page */
body {
  margin: 0px;
  padding: 0px;
}

/* Format header color */
#header {
  background-color: rgb(232, 164, 252);
}

/* Make .headerItems display as inline-block on the page */
.headerItem {
  display: inline-block;
  width: 100%;
}

/* Provide styling for the main "title" of the page */
#title {
  font-size: 20px;
  font-family: "Comic Sans MS", sans-serif;
  color: white;
}

/* Styles the user body to have a border and to be colored and to scroll if
necessary */
#userBody {
  border-top: 2px dashed white;
  position: fixed;
  top: 110px;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background-color: rgb(155, 67, 181);
  text-align: center;
  font-size: 25px;
  font-family: "Comic Sans MS", sans-serif;
  color: white;
  margin-right: 40px;
  overflow-x: scroll;
}

/* Provides padding to labels so they line up on the page */
#head {
  padding-left: 30px;
}

/* Provides some styling for the return back button on the page */
.homeBut {
  font-family: "Arial", sans-serif;
  font-size: 20px;
  margin: 20px;
}

/* Provides some padding for the inner elements */
.in {
  padding-left: 50px;
  padding-right: 50px;
}
